<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
	
	

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/admin**" access="hasRole('ROLE_SUPERVISOR')" />
		<!-- <form-login login-page="" default-target-url="" authentication-failure-url=""
		 always-use-default-target="true" username-parameter="uname" password-parameter="pass"/>
		 <intercept-url pattern="/secure/**" access="hasRole('ROLE_SUPERVISOR')"/> -->
 <!-- <intercept-url pattern="/*" access="isAuthenticated()" />
 <intercept-url pattern="/**" access="isAuthenticated()"/>
 <intercept-url pattern="/" access="isAuthenticated()" /> -->
		<!-- <http-basic/> --> <!-- This gets the pop up asking credentials  -->
		<!-- <logout logout-url="/logout" logout-success-url="/home.jsp" />
		<logout/>  -->
		<session-management invalid-session-url="/spring_security_login"> 
 			<concurrency-control max-sessions="1" error-if-maximum-exceeded="false" expired-url="/spring_security_login" />
 			</session-management> 
	</http>
	
	<global-method-security pre-post-annotations="enabled" secured-annotations="enabled" proxy-target-class="true"/>

<!-- This is for default authentication - harccoded -->
	<!-- <authentication-manager>
	  <authentication-provider>
	    <user-service>
		<user name="mkyong" password="123456" authorities="ROLE_USER" />
	    </user-service>
	  </authentication-provider>
	</authentication-manager> -->
	
	<beans:bean id="customAuthenticationProvider" name="customAuthenticationProvider" 
	class="com.fourbits.interview.security.CustomAuthenticationProvider">
	<beans:property name="userService" ref="userService"></beans:property>
	</beans:bean>
	
	<beans:bean name="userService" class="com.fourbits.interview.service.UserService">
	<beans:property name="userDao" ref="userDao"></beans:property>
	</beans:bean>
	<beans:bean name="userDao" class="com.fourbits.interview.dao.UserDao"></beans:bean>
	
	<authentication-manager>
	  <authentication-provider ref="customAuthenticationProvider">		    
	  </authentication-provider>
	</authentication-manager>

</beans:beans>